<div class="movies-container">
    <div *ngFor="let movie of movies" class="movie-item">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
      <div class="movie-info">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.overview }}</p>
        <p>Release Date: {{ movie.release_date }}</p>
        <p>Rating: {{ normalizeRating(movie.popularity) | number:'1.0-1' }}/5</p>
      </div>
    </div>
  </div>
  <div class="pagination-controls">
    <button (click)="previousPage()">Previous</button>
    <button (click)="nextPage()">Next</button>
  </div>
  
  