<app-navbar></app-navbar>
<div class="search-container">
  <div class="form-field">
    <label for="actorSearch">Search for actors</label>
    <input id="actorSearch" type="text" [(ngModel)]="query" (keyup.enter)="searchActors(query)" placeholder="Enter actor name">
  </div>
  <button class="search-button" (click)="searchActors(query)">Search</button>
</div>

<div class="actors-container">
  <div *ngFor="let actor of actors" class="actor-item">
    <img src="{{ 'https://image.tmdb.org/t/p/w500' + actor.profile_path }}" alt="{{ actor.name }}">
    <div class="actor-info">
      <h3>{{ actor.name }}</h3>
      <p>Known for:</p>
      <ul>
        <li *ngFor="let movie of actor.known_for">{{ movie.title }}</li>
      </ul>
      <button class="details-button" (click)="goToActorDetails(actor.id)">View Details</button>
    </div>
  </div>
</div>
